# SPDX-FileCopyrightText: 2026 calibancode
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Type=Application
Name=Katwhisker
GenericName=Web Radio
Comment=Listen to internet radio stations from radio-browser.info
Exec=katwhisker
Icon=io.github.calibancode.katwhisker
Categories=Qt;KDE;AudioVideo;Audio;Player;
